/* Source: https://github.com/ssorallen/react-reddit-client/blob/master/react-reddit-client.css
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
  background-color: #2d2d2d;
  font-family: 'Lato';
  color: white;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 42px;
}

.navigation {
  width: 200px;
  text-transform: uppercase;
  float: right;
}

.navigation ul {
  background-color: #37383a;
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navigation .header {
  padding: 15px;
  background-color: #4e5053;
}

.navigation li {
  padding: 15px;
}

.navigation .selected {
  background-color: #9061b2;
}

.score {
  font-size: 36px;
  margin: 15px;
  color: #afb3b9;
}

.title {
  font-size: 18px;
}

.title a {
  text-decoration: none;
  color: #fff;
}

.author {
  font-size: 16px;
}

/**
 * Changed to a <b> because React wraps text nodes in
 * <span> elements if they have non-text-node siblings.
 */
.author b {
  color: #afb3b9;
}