@(title: String, webJarAssets: WebJarAssets)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body>
    @* The wrapper around the React mount point must contain no whitespace so
    * output looks identical inside this element on server and browser. *@
    <div id="application">@content</div>

    <script src="@routes.WebJarAssets.at(webJarAssets.locate("react-with-addons.min.js"))"></script>
    <script src="@routes.Assets.at("javascripts/components/App.js")"></script>
    <script>
      React.render(
        React.createElement(App, null),
        document.getElementById("application")
      );
    </script>
  </body>
</html>